@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100vw;
    background-color: black;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone{
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../imagens/frame-iphone.png") no-repeat;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}


section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.61);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
    transition: transform 0.5s, border 0.3s;
}

@media (max-width: 768px) {
    body {
        background-size: cover;  
    }

    section#redes-sociais {
        text-align: right; /* Mantenha o alinhamento à direita */
        flex-direction: column; /* Coloque os ícones em uma coluna vertical */
        align-items: flex-end; /* Alinhe os ícones à direita */
        right: 10px; /* Mantenha a posição à direita */
        transform: translateY(-50%); /* Mantenha o ajuste de translateY */
    }

    section#redes-sociais img {
        width: 50px; /* Mantenha o tamanho dos ícones */
        margin: 10px; /* Mantenha o espaçamento entre os ícones */
    }
}
}